html {
    height: 100vh;
    background-color: #0C181D;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: #F7FFF7;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 0;
}

#player-info-container {
    width: 50vh;
    display: flex;
    justify-content: space-between;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-marker {
    font-family: 'Fredoka One', sans-serif;
    font-size: 3rem;
    padding: 1.5rem 0 0.5rem 0;
}

.player-name {
    height: 1.1rem;
    max-width: 6rem;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.player-name br {
    display: none;
}

.player-name::-webkit-scrollbar {
    display: none;
}

#board {
    margin-top: 2rem;
    display: grid;
    min-width: 50vh;
    min-height: 50vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.space {
    border: 0.4vh solid #89BDD2;
    color: #F7FFF7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka One', sans-serif;
    font-size: 10vh;
}

#board .top {
    border-top: none;
}

#board .right {
    border-right: none;
}

#board .bottom {
    border-bottom: none;
}

#board .left {
    border-left: none;
}

button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: inherit;
}

#restart-button {
    font-size: 2.5rem;
    margin: 2.5rem 0;
    padding: 0.25rem;
    border-radius: 4%;
    transition: all 0.4s;
}

#restart-button:hover {
    transform: rotate(-90deg);
}

#restart-button:active {
    transform: scale(1.2, 1.2) rotate(-90deg);
}

#restart-button:focus {
    background-color: #F0A8C7;
    color: #0C181D;
}

.material-icons-round {
    font-size: 1em;
}

.winning-marker {
    color: #F0A8C7;
    transition: all 0.4s;
}

#winner-text {
    position: absolute;
    font-weight: bold;
    color: #F0A8C7;
    transition: all 0.4s;
}

#tie-text {
    align-self: center;
    font-weight: bold;
    font-size: 2rem;
    color: #F0A8C7;
}

.last-player {
    color: #F0A8C7;
    transition: color 0.4s;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    #player-info-container {
        width: 80vw;
    }

    #board {
        min-width: 90vw;
        min-height: 90vw;
    }

    .space {
        font-size: 5rem;
    }
}